absl-py
annotated-types
anyio
asgiref
astunparse
certifi
cffi
charset-normalizer
colorama
contourpy
crispy-bootstrap5
cryptography
cycler
distlib
distro
Django
django-crispy-forms
filelock
flatbuffers
fonttools
gast
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
h11
httpcore
httplib2
httpx
idna
jiter
kiwisolver
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
namex
numpy
openai
opencv-python
opt_einsum
optree
packaging
pillow
platformdirs
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
requests
rich
setuptools
six
sniffio
sqlparse
termcolor
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
Werkzeug
wheel
wrapt